.under_header {
    background-image: url('../../images/bgs/slider-1.jpg');
    background-size: cover;
}

.under_block {
    width: 450px;
    background-color: rgba(255, 255, 255, .9);
    margin-left: 5%;
    padding: 5%;
    line-height: 1.5;
}

.under_block p,
.under_block a,
.under_block h2 {
    text-transform: uppercase;
}

.under_block>p {
    font-size: 18px;
    color: #707070;
    width: 70%;
}

.under_block>h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 10% 0;
    width: 70%;
}

.under_block>a {
    font-size: 16px;
    background-color: #f5b316;
    font-weight: bold;
    color: #fff;
    display: flex;
    width: 160px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.under_block>a:hover {
    background-color: #282828;
}